#contestantsGrid {
  /* margin-left: 40px;
  margin-right: 40px; */
  text-align: center;
}

#contestantsFilters {
  width: 600px;
  text-align: center;
  margin: auto;
  background-color: #311377;  /*#3f0d54;*/
  border-radius: 20px;
  margin-bottom: 24px;
}

#contestantSwitchEliminated {
}

.contestantFilterButton {
  background-color: #311377; /*#3f0d54;*/
  border: none;
  color: grey;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 20px;
}

.contestantNameTitle {
  font-size: 1.7vw;
  height:  3.6vw;
  text-align: : center;
}

.contestantNameSubtitle {
  font-size: 1.6vw;
  height:  2vw;
  text-align: : center;
}

.desktopOnly {
  display: block;
}

.mobileOnly {
  display: none;
}

.activeFilterButton {
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #caa0eb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #caa0eb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#includeEliminatedLabel {
  margin-left: 16px;
  font-size: 14px;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .mobileOnly {
    display: block;
  }
  .desktopOnly {
    display: none;
  }
  .contestantNameTitle {
    font-size: 2.6vw;
    height:  5.8vw;
    vertical-align: center;
  }

  .contestantNameSubtitle {
    font-size: 2.6vw;
    height:  2.5vw;
  }

  #contestantsFilters {
    width: 78%;
  }

  .contestantFilterButton {
    font-size: 4vw;
    padding: 15px 15px;
  }
}
