/*General*/
@font-face {
    font-family: AzonixCustom;
    src: url("font/azonix/Azonix.otf") format("opentype");
}

@font-face {
    font-family: DXWooriGoStd;
    src: url("font/DXWooriGoStd-M.woff") format("woff");
}

* {
  font-family: AzonixCustom; /* Open Sans; */
  margin: 0;
  padding: 0;
  background: none;
  outline: none; }

body {
  background: linear-gradient(135deg, rgb(255, 247, 253), rgb(238, 226, 252));
  font-size: 14px;
}

#bodyContent {
  padding-top: 40px;
  margin: 0px 6vw;
}

.smallCaps {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #888; }

h1 {
  margin-bottom: 20px;
  font-size: 24px; }

/* Top */
#banner {
  background: #311377; /*url("../img/banner.png") center center; */
  box-sizing: border-box;
  position: relative;
  text-align: center;
  padding-top: 20px;
}

#banner img {
    max-height: 120px;
    padding-bottom: 5px;
}

#banner2 {
  background: #EED9FF;
  font-size: 6px;
}

#credits {
  font-size: 12px;
  padding-right: 40px;
  text-align: right;
  color: #AAA; }

.topnav {
  width: 100%;
  justify-content: space-between;
  font-size: 16px;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center; }

#banner .topnav .current {
  color: red;
  background-color: transparent;
}

#banner2 .topnav .current {
  color: red;
  background-color: transparent;
}

.topnav a:link {
  margin-right: 30px;
  color: #AAA;
  background-color: transparent;
  text-decoration: none; }

.topnav a:visited {
  color: #AAA;
  background-color: transparent;
  text-decoration: none; }

.topnav a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline; }


.smallProfile {
  width: 16vw;
  margin: 2vw;
  display: inline-block;
}

.smallProfileImage {
  height: 25vw;
  background-size: 100%;;
  background-position: 50% 25%;
  border-radius: 1.8vw;
}

.smallProfileNameDiv {
  height: 4vw;
}

.centeredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.leftAlignedColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.centeredRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;;
  justify-content: center;
}

.image-cropper-circle {
    width: 100%;
    height: auto;
    padding-top: 100%; /* this forces it to stay 1:1 */
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.RankingRepPeopleBackground {
  padding: 10px;
  background-color: #eed9ff;
  border-radius: 40px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.RankingRepPeopleNoBackground {
  padding: 10px;
}

.eliminationDivider {
  width:100%;
  text-align:left;
  margin-left:0
}

#rankingsList {
  margin-top: 20px;
}

.smallPersonRep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  width: 100px;
  height: 120px;
  margin: 10px;
  text-decoration: none;
}

.floatingButton{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:30px;
	background-color:#caa0eb;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.floatingButtonContent{
	margin-top:16px;
  font-size:2em;
}

.largeText {
  font-size: 60px;
}

.mediumText {
  font-size: 40px;
}

#rankText {
  text-align: center;
  font-size: 30;
  width: 60;
}

.cell {
  margin: 10px;
  margin-right: 40px;
}

.paragraphDescription {
  margin-bottom: 14px;
  line-height: 24px;
  font-family: "DXWooriGoStd";
}
/*# sourceMappingURL=main.css.map */

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .smallProfile {
    width: 25%;
  }

  .smallProfileImage {
    height: 34vw;
  }

  .smallProfileNameDiv {
    height: 10vw;
  }

  .topnav {
    font-size: 14px;
  }

  #banner2 .topnav {
    font-size: 10px;
  }

  #banner {
  }

  #banner img {
    display: none; }

  .topnav a:link {
    margin-right: 10px;
  }

  #credits {
    font-size: 8px;
    padding-bottom: 10px;
  }

  .largeText {
    font-size: 30px;
  }

  .mediumText {
    font-size: 20px;
  }

  .floatingButton{
  	width:50px;
  	height:50px;
  	bottom:20px;
  	right:20px;
  	border-radius:35px;
  }

  .floatingButtonContent{
  	margin-top:10px;
    font-size:1.8em;
  }

  .smallPersonRep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 80px;
    height: 120px;
    margin: 4px;
    text-decoration: none;
  }

  .RankingRepPeopleBackground {
    padding: 6px;
  }

  .RankingRepPeopleNoBackground {
    padding: 6px;
  }

  #rankingsList {
    width:110%;
  }

  #rankText {
    text-align: center;
    font-size: 20;
    width: 30;
  }

  .cell {
    width: 100%;
    margin: 0px 20px 0px 0px;
  }
}
