#profileHeader {
  width: 100%;
}

#profileHeaderText {
  width: 50%;
  height: 600px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

#profileHeaderTextId {
  padding-bottom: 40px;
}

#profileHeaderImageWrapper {
  width: 40%;
  height: 600px;
  padding-left: 40px;
  display: inline-block;
  vertical-align: middle;
}

#profileHeaderTextNameEnglish {
  font-size: 80px;
}

#profileNamesNonEnglish {
  text-align: center;
  display: inline-block;;
  vertical-align: middle;
  font-size: 24px;
  color: #4F4F4F;
}

#profileGroup {
  font-size: 50px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-radius: 50%;
  padding: 20px;
  width:80px;
  height:80px;
}

#profileHeaderTextBody {
  text-align: left;
}

.profileRankingsContent {
  font-size: 24px;
}

#profileHeaderImage {
  display: block;
  height: 100%;
  border-radius: 10%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  #profileHeaderTextNameEnglish {
    font-size: 14vw;
  }

  #profileHeaderText {
    width: 100%;
    padding: 0px;
  }

  #profileHeaderImageWrapper {
    width: 80%;
    height: 460px;
    padding: 0px;
    display: block;
  }

  #profileGroup {
    font-size: 40px;
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-radius: 50%;
    padding: 18px;
    width:50px;
    height:50px;
    margin-bottom: 20px;
  }

  profileNamesNonEnglish {
    font-size: 18px;
  }

  .profileRankingsContent {
    font-size: 14px;
  }
}
